<h1>Recipe Index</h1>
<% @recipes.each do |recipe| %>
    <h2><%= recipe.name %></h2>
    <ul>
    <% recipe.recipe_items.each do |item| %>
        <li>name: <%= item.name %> | quantity: <%= item.quantity %></li>
    <% end %>
    </ul>
<% end %>