<h1>Show Recipe</h1>
<h2><%= @recipe.title %></h2>
<ul>
     <% @recipe.recipe_items.each do |item| %>
        <li>name: <%= item.ingredient %> | quantity: <%= item.quantity %></li>
    <% end %>
</ul>